data/202307-divvy-tripdata.csv
data/202308-divvy-tripdata.csv
data/202309-divvy-tripdata.csv
data/202310-divvy-tripdata.csv
data/202311-divvy-tripdata.csv
data/202312-divvy-tripdata.csv
data/202401-divvy-tripdata.csv
data/202402-divvy-tripdata.csv
data/202403-divvy-tripdata.csv
data/202404-divvy-tripdata.csv
data/202405-divvy-tripdata.csv
data/202406-divvy-tripdata.csv
data/all_trips_cleaned.csv
.Rhistory
